a {
	color:#175A19;
	font-size: 16px;
}
#adil{
	color:black;

}

#base{
	color:#86129C;
} 

#storyofmylife {
	color:red;
}

.base{
	
	color:red;
	margin-left:500px;
	margin-right:500px;
}

.false{
	color:orange;
}